APP_NAME=home-picokostal
APP_VERSION=2.1.0

# ----------- HTTP Server -----------
HOST=0.0.0.0
PORT=5098

# ----------- MQTT -----------
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

MQTT_CLIENT=kostal-service
MQTT_TOPIC=kostal/data
MQTT_STATUS=kostal/status
MQTT_KEEPALIVE=60

# ----------- Device -----------
KOSTALURL=http://<ip>
KOSTALUSER=
KOSTALPASSWORD=
KOSTAL_NAME=KOSTAL PIKO5.5
KOSTAL_MODEL=PIKO5.5
KOSTAL_MANUFACTOR=KOSTAL Solar Electric
LATITUDE=47.4577805
LONGITUDE=9.6358696
ELEVATION=403
PANELPOWER=5000
TIMEZONE=Europe/Vaduz
DATA_DELAY=300
CO2FAKTOR=0.220

# ----------- Logging -----------
LOG_LEVEL=INFO
LOG_MODE=console
LOG_FILE=logs/picocontroller.log
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3

# ----------- Webhook -----------
HA_WEBHOOK_URL=http://localhost:8123
HA_WEBHOOK_ID=picokostal

# ----------- Home Assistant -----------
HA_BASETOPIC=hc_pico
HA_DISCOVERY=homeassistant

# PV Berechnungsparameter (kalibriert)
PV_ETA=0.91
PV_SHIFT_OST=-1.0
PV_SHIFT_WEST=1.0

# ----------- Database -----------
DB_PATH=data/pv_data.db